includes:
  - phpstan-baseline.neon
parameters:
  level: max
  reportUnmatchedIgnoredErrors: true
  paths:
    - ./
  excludePaths:
    - .build
    - .ddev
    - .github
    - .phpunit.cache (?)
    - config (?)
    - var (?)
    - Resources
    - Documentation
